In [3]:
import pandas as pd

Este dataset contiene información sobre anuncios de viviendas en Idealista obtenidos en 2019.

Tenemos 20 tablas, cada una correspondiente a una provincia diferente de España. Vamos a leer cada uno de los archivos y a meterlos en variables. Todas esas tablas contienen las mismas 36 columnas que analizaremos más adelante.

In [4]:
alava_df = pd.read_csv('../data/houses_alava.csv')
albacete_df = pd.read_csv('../data/houses_albacete.csv')
alicante_df = pd.read_csv('../data/houses_alicante.csv')
balears_df = pd.read_csv('../data/houses_balears.csv')
barcelona_df = pd.read_csv('../data/houses_barcelona.csv')
bizkaia_df = pd.read_csv('../data/houses_bizkaia.csv')
cadiz_df = pd.read_csv('../data/houses_cadiz.csv')
ciudad_real_df = pd.read_csv('../data/houses_ciudad_real.csv')
coruna_df = pd.read_csv('../data/houses_coruna.csv')
gipuzkoa_df = pd.read_csv('../data/houses_gipuzkoa.csv')
girona_df = pd.read_csv('../data/houses_girona.csv')
huelva_df = pd.read_csv('../data/houses_huelva.csv')
madrid_df = pd.read_csv('../data/houses_madrid.csv')
tenerife_df = pd.read_csv('../data/houses_santa_cruz_de_tenerife.csv')
segovia_df = pd.read_csv('../data/houses_segovia.csv')
sevilla_df = pd.read_csv('../data/houses_sevilla.csv')
soria_df = pd.read_csv('../data/houses_soria.csv')
valencia_df = pd.read_csv('../data/houses_valencia.csv')
valladolid_df = pd.read_csv('../data/houses_valladolid.csv')
zamora_df = pd.read_csv('../data/houses_zamora.csv')

In [3]:
alava_df = alava_df.reset_index(drop=True)
albacete_df = albacete_df.reset_index(drop=True)
alicante_df = alicante_df.reset_index(drop=True)
balears_df = balears_df.reset_index(drop=True)
barcelona_df = barcelona_df.reset_index(drop=True)
bizkaia_df = bizkaia_df.reset_index(drop=True)
cadiz_df = cadiz_df.reset_index(drop=True)
ciudad_real_df = ciudad_real_df.reset_index(drop=True)
coruna_df = coruna_df.reset_index(drop=True)
gipuzkoa_df = gipuzkoa_df.reset_index(drop=True)
girona_df = girona_df.reset_index(drop=True)
huelva_df = huelva_df.reset_index(drop=True)
madrid_df = madrid_df.reset_index(drop=True)
tenerife_df = tenerife_df.reset_index(drop=True)
segovia_df = segovia_df.reset_index(drop=True)
sevilla_df = sevilla_df.reset_index(drop=True)
soria_df = soria_df.reset_index(drop=True)
valencia_df = valencia_df.reset_index(drop=True)
valladolid_df = valladolid_df.reset_index(drop=True)
zamora_df = zamora_df.reset_index(drop=True)

Estoy teniendo problemas con el concatenado. He comprobado que todos los dataframe tienen las mismas columnas pero al concatenarlo parece que no está reconociendo los headers de las columnas, entonces al terminar los valores de la primera tabla, vuelven a aparecer los nombres de las columnas, luego siguen los datos de la siguiente tabla y así sucesivamente. Por ello, voy a tener que convertir las celdas en las que vuelven a salir los nombres de las columnas en 0s o caracteres vacíos, dependiendo del tipo de dato, para que no me dé problemas.

In [4]:
todo_raw = pd.concat([alava_df,albacete_df,alicante_df,balears_df,barcelona_df,bizkaia_df,cadiz_df,ciudad_real_df,coruna_df,gipuzkoa_df,girona_df,huelva_df,madrid_df,tenerife_df,segovia_df,sevilla_df,soria_df,valencia_df,valladolid_df,zamora_df],ignore_index=True)

In [5]:
todo_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 36 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ad_description     95426 non-null   object
 1   ad_last_update     100000 non-null  object
 2   air_conditioner    100000 non-null  object
 3   balcony            100000 non-null  object
 4   bath_num           100000 non-null  object
 5   built_in_wardrobe  100000 non-null  object
 6   chimney            100000 non-null  object
 7   condition          86059 non-null   object
 8   construct_date     32059 non-null   object
 9   energetic_certif   74691 non-null   object
 10  floor              79693 non-null   object
 11  garage             40811 non-null   object
 12  garden             100000 non-null  object
 13  ground_size        183 non-null     object
 14  heating            25714 non-null   object
 15  house_id           100000 non-null  object
 16  house_type         100000 non-null  object
 17  kitchen            2212 non-null    object
 18  lift               58965 non-null   object
 19  loc_city           100000 non-null  object
 20  loc_district       86253 non-null   object
 21  loc_full           100000 non-null  object
 22  loc_neigh          43690 non-null   object
 23  loc_street         14314 non-null   object
 24  loc_zone           100000 non-null  object
 25  m2_real            100000 non-null  object
 26  m2_useful          52844 non-null   object
 27  obtention_date     100000 non-null  object
 28  orientation        39415 non-null   object
 29  price              100000 non-null  object
 30  reduced_mobility   100000 non-null  object
 31  room_num           100000 non-null  object
 32  storage_room       100000 non-null  object
 33  swimming_pool      100000 non-null  object
 34  terrace            100000 non-null  object
 35  unfurnished        646 non-null     object
dtypes: object(36)
memory usage: 27.5+ MB

Nuestra tabla general contiene 100 mil entradas en total, distribuidas en 36 columnas. Cambiaremos los nombres a castellano. 16 columnas no tienen todos sus valores completos, es decir, tendremos NaN en ellos. Analizaremos cada una de las columnas para comprobar qué tipo de información contiene y si contiene los valores suficientes para realizar un análisis en condiciones. Además, al hacer la concatenación, Pandas ha homogeneizado todos los tipos de datos y ha fijado todas las columnas en object ya que contenían diferentes tipos de datos dentro de la misma columna. Esto se ha debido al problema en la concatenación, probablemente. Usando nuestra información original tendremos que cambiar los tipos de datos manualmente a cada columna.

Comenzamos con el análisis de cada columna. Usaremos head para ver las primeras 5 filas y ver el tipo de información que nos proporciona. También comprobaremos la cantidad de valores nulos y estudiaremos cómo podemos llenarlos con otros valores, en caso de ser necesario

### COLUMNA: ad_description

In [6]:
todo_raw[['ad_description']].head()

                                      ad_description
0  Precio chalet individual en la localidad de Ab...
1  Atico de 80m2, para entrar a vivir, con salón ...
2  B/ Etxaguen. Casa de reciente construcción con...
3  Se vende vivienda en abornikano (ayuntamiento ...
4                                       Negociables.

In [7]:
print('Cantidad de valores únicos')
print(todo_raw['ad_description'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['ad_description'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['ad_description'].isna().mean()*100)

Cantidad de valores únicos
86150

Cantidad de valores NaN
4574

Porcentaje de valores NaN sobre el total
4.574

In [8]:
todo_raw['ad_description'].unique()

array(['Precio chalet individual en la localidad de Abornikano a 3 kms de Izarra donde podemos tener todos los servivios. Situado en un precioso entorno. La vivienda dispone en planta baja de salon con chimenea, cocina equipada y dormitorio y baño. Desde la misma planta accedemos a un garaje cerrado. La primera planta se distribuye en tres dormitiros y baño. La vivienda dispone de porche, leñera y se encuentra preparada para empezar a vivir.',
       'Atico de 80m2, para entrar a vivir, con salón amueblado y velux en el techo, 3 dormitorios (uno de ellos amueblado y con velux en el techo), 2 baños y cocina equipada. - Velux de 1,401, 50, con apertura de ventana y persiana con mando a distancia. -cuenta con preinstalación para chimenea de leña. -caldera individual de gas.',
       'B/ Etxaguen. Casa de reciente construcción con muchas posibilidades, 360m2 mas 140m2 ampliables, soleada, situada en el parque natural de Ukiola con excelentes vistas. Con 3000m2 de terreno. A 40minitos de las tres capitales. Playa a unos 50 kilometros. Garaje. Trastero. Terraza. Calefacción. Jardín. CE: A.',
       ..., 'casa de pueblo con patio.',
       'Superf. 2299 m², 1090 m² solar, 10 habitaciones (10 dobles), jardín (patio 1.090 m2), año construcción (1908), casa en 2 plantas para gran reforma o para tirar y utilizar como solar. Ademas dispone de un terreno proximo de 1.899 m2. La casa tiene 34 metros de fachada a calle..',
       'Inmueble de 89 m² ubicado en ZAMORA (Zamora).'], dtype=object)

In [9]:
todo_raw.loc[todo_raw['ad_description']=='ad_description','ad_description'] = 'indefinido'

In [10]:
todo_raw['ad_description'] = todo_raw['ad_description'].fillna('indefinido')
todo_raw['ad_description'] = todo_raw['ad_description'].astype(str)

## NO BORRAR PUEDE SER INTERESANTE

Vemos que la columna contiene una descripción de la vivienda que no nos da mucha información para nuestro análisis, por lo que la eliminaremos.

### COLUMNA: ad_last_update

In [11]:
todo_raw[['ad_last_update']].head()

                       ad_last_update
0  Anuncio actualizado el 27 de marzo
1       más de 5 meses sin actualizar
2       más de 5 meses sin actualizar
3       más de 5 meses sin actualizar
4       más de 5 meses sin actualizar

Vemos que la columna contiene un string con la fecha de última actualización de la vivienda. Teniendo en cuenta que los datos son de 2019 esta columna no nos da mucha información para nuestro análisis, por lo que la eliminaremos.

In [12]:
todo_raw = todo_raw.drop(columns=['ad_last_update'])

### COLUMNA: air_conditioner

In [13]:
todo_raw[['air_conditioner']].head()

  air_conditioner
0               0
1               0
2               0
3               0
4               0

In [14]:
print('Cantidad de valores únicos')
print(todo_raw['air_conditioner'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['air_conditioner'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['air_conditioner'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [15]:
todo_raw['air_conditioner'].unique()
#queremos pasar esta información a booleanos

array([0, 1, '0', '1', 'air_conditioner'], dtype=object)

In [16]:
todo_raw.loc[todo_raw['air_conditioner']=='air_conditioner','air_conditioner'] = 0
todo_raw.loc[todo_raw['air_conditioner']=='0','air_conditioner'] = 0
todo_raw.loc[todo_raw['air_conditioner']=='1','air_conditioner'] = 1

In [17]:
todo_raw['air_conditioner'] = todo_raw['air_conditioner'].fillna(0)
todo_raw['air_conditioner'] = todo_raw['air_conditioner'].astype(bool)

### COLUMNA: balcony

In [18]:
todo_raw[['balcony']].head()

  balcony
0       0
1       0
2       0
3       1
4       0

In [19]:
print('Cantidad de valores únicos')
print(todo_raw['balcony'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['balcony'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['balcony'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [20]:
todo_raw['balcony'].unique()
#queremos pasar esta información a booleanos

array([0, 1, '0', '1', 'balcony'], dtype=object)

In [21]:
todo_raw.loc[todo_raw['balcony'] == 'balcony', 'balcony'] = 0
todo_raw.loc[todo_raw['balcony'] == '0', 'balcony'] = 0
todo_raw.loc[todo_raw['balcony'] == '1', 'balcony'] = 1

In [22]:
todo_raw['balcony'] = todo_raw['balcony'].fillna(0)
todo_raw['balcony'] = todo_raw['balcony'].astype(bool)

### COLUMNA: bath_num

In [23]:
todo_raw[['bath_num']].head()

  bath_num
0        2
1        2
2        3
3        1
4        1

In [24]:
print('Cantidad de valores únicos')
print(todo_raw['bath_num'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['bath_num'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['bath_num'].isna().mean()*100)

Cantidad de valores únicos
30

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [25]:
todo_raw['bath_num'].unique()

array(['2', '3', '1', '4', '7', '6', '15', '5', 'sin baños', '8', '10',
       '34', '11', '9', '38', 'bath_num', '14', '12', '13', '20', '84',
       '16', '19', '23', '32', '18', '17', '30', '58', '75'], dtype=object)

In [26]:
todo_raw.loc[todo_raw['bath_num'] == 'sin baños', 'bath_num'] = 0
todo_raw.loc[todo_raw['bath_num'] == 'bath_num', 'bath_num'] = 0

In [27]:
todo_raw['bath_num'] = todo_raw['bath_num'].fillna(0)
todo_raw['bath_num'] = todo_raw['bath_num'].astype(int)

### COLUMNA: built_in_wardrobe

In [28]:
todo_raw[['built_in_wardrobe']].head()

  built_in_wardrobe
0                 0
1                 0
2                 0
3                 1
4                 0

In [29]:
print('Cantidad de valores únicos')
print(todo_raw['built_in_wardrobe'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['built_in_wardrobe'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['built_in_wardrobe'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [30]:
todo_raw['built_in_wardrobe'].unique()

array([0, 1, '1', '0', 'built_in_wardrobe'], dtype=object)

In [31]:
todo_raw.loc[todo_raw['built_in_wardrobe'] == 'built_in_wardrobe', 'built_in_wardrobe'] = 0
todo_raw.loc[todo_raw['built_in_wardrobe'] == '0', 'built_in_wardrobe'] = 0
todo_raw.loc[todo_raw['built_in_wardrobe'] == '1', 'built_in_wardrobe'] = 1

In [32]:
todo_raw['built_in_wardrobe'] = todo_raw['built_in_wardrobe'].fillna(0)
todo_raw['built_in_wardrobe'] = todo_raw['built_in_wardrobe'].astype(bool)

### OLUMNA: chimney

In [33]:
todo_raw[['chimney']].head()

  chimney
0       0
1       0
2       0
3       1
4       0

In [34]:
print('Cantidad de valores únicos')
print(todo_raw['chimney'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['chimney'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['chimney'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [35]:
todo_raw['chimney'].unique()

array([0, 1, '0', '1', 'chimney'], dtype=object)

In [36]:
todo_raw.loc[todo_raw['chimney'] == 'chimney', 'chimney'] = 0
todo_raw.loc[todo_raw['chimney'] == '0', 'chimney'] = 0
todo_raw.loc[todo_raw['chimney'] == '1', 'chimney'] = 1

In [37]:
todo_raw['chimney'] = todo_raw['chimney'].fillna(0)
todo_raw['chimney'] = todo_raw['chimney'].astype(bool)

### COLUMNA: condition

In [38]:
todo_raw[['condition']].head()

                  condition
0  segunda mano/buen estado
1  segunda mano/buen estado
2  segunda mano/buen estado
3  segunda mano/buen estado
4  segunda mano/buen estado

In [39]:
print('Cantidad de valores únicos')
print(todo_raw['condition'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['condition'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['condition'].isna().mean()*100)

Cantidad de valores únicos
4

Cantidad de valores NaN
13941

Porcentaje de valores NaN sobre el total
13.941

In [40]:
todo_raw['condition'].unique()

array(['segunda mano/buen estado', 'segunda mano/para reformar', nan,
       'promoción de obra nueva', 'condition'], dtype=object)

In [41]:
todo_raw.loc[todo_raw['condition'] == 'condition', 'condition'] = 'indefinido'

In [42]:
todo_raw['condition'] = todo_raw['condition'].fillna('indefinido')
todo_raw['condition'] = todo_raw['condition'].astype(str)

### COLUMNA: construct_date

In [43]:
todo_raw[['construct_date']].head()

  construct_date
0            NaN
1         2006.0
2            NaN
3            NaN
4            NaN

In [44]:
print('Cantidad de valores únicos')
print(todo_raw['construct_date'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['construct_date'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['construct_date'].isna().mean()*100)

Cantidad de valores únicos
355

Cantidad de valores NaN
67941

Porcentaje de valores NaN sobre el total
67.941

Tenemos un porcentaje demasiado alto de nulos así que eliminaremos esta columna

In [45]:
todo_raw = todo_raw.drop(columns=['construct_date'])

### COLUMNA: energetic_certif

In [46]:
todo_raw[['energetic_certif']].head()

  energetic_certif
0              NaN
1      no indicado
2      no indicado
3       en trámite
4      no indicado

In [47]:
print('Cantidad de valores únicos')
print(todo_raw['energetic_certif'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['energetic_certif'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['energetic_certif'].isna().mean()*100)

Cantidad de valores únicos
4

Cantidad de valores NaN
25309

Porcentaje de valores NaN sobre el total
25.308999999999997

In [48]:
todo_raw['energetic_certif'].unique()

array([nan, 'no indicado', 'en trámite', 'inmueble exento',
       'energetic_certif'], dtype=object)

Los valores únicos que tenemos no nos dan demasiada información. Eliminaremos esta columna

In [49]:
todo_raw = todo_raw.drop(columns=['energetic_certif'])

### COLUMNA: floor

In [50]:
todo_raw[['floor']].head()

                floor
0           2 plantas
1  planta 2ª exterior
2           3 plantas
3           3 plantas
4  planta 1ª exterior

In [51]:
print('Cantidad de valores únicos')
print(todo_raw['floor'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['floor'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['floor'].isna().mean()*100)

Cantidad de valores únicos
87

Cantidad de valores NaN
20307

Porcentaje de valores NaN sobre el total
20.307

In [52]:
todo_raw['floor'].unique()

array(['2 plantas', 'planta 2ª exterior', '3 plantas',
       'planta 1ª exterior', nan, '1 planta', 'planta 3ª exterior',
       'bajo exterior', 'planta 2ª', 'planta 4ª exterior', '4 plantas',
       'planta 3ª', 'planta 1ª', '5 plantas', 'planta 5ª exterior',
       'planta 7ª exterior', 'exterior', 'planta 6ª exterior',
       'planta 2ª interior', 'planta 4ª', 'planta 4ª interior',
       'planta 9ª exterior', 'planta 7ª interior', 'planta 6ª interior',
       'planta 8ª interior', 'planta 6ª', 'planta 8ª',
       'planta 3ª interior', 'planta 10ª exterior', 'planta 5ª',
       'planta 7ª', 'bajo', 'planta 8ª exterior', 'entreplanta exterior',
       'planta 13ª exterior', 'planta 9ª', 'planta 5ª interior',
       'bajo interior', 'planta 1ª interior', 'planta 12ª exterior',
       'planta 15ª exterior', 'planta 10ª', 'semi-sótano exterior',
       'planta -1 exterior', '6 plantas', 'entreplanta', 'floor',
       '8 plantas', 'planta 11ª exterior', 'planta 11ª',
       'planta -2 exterior', 'planta 60ª exterior', 'planta 15ª',
       'interior', 'entreplanta interior', 'sótano exterior',
       '15 plantas', 'planta 16ª exterior', 'planta 11ª interior',
       '20 plantas', 'planta 22ª exterior', 'planta 12ª interior',
       '16 plantas', 'planta 10ª interior', 'planta 9ª interior',
       'planta -1', '46 plantas', 'sótano interior', 'planta 14ª',
       'semi-sótano interior', 'planta 14ª exterior', 'planta 12ª',
       'planta 17ª exterior', 'planta 20ª exterior',
       'planta 19ª exterior', 'planta 18ª exterior', 'planta 13ª',
       'planta 21ª exterior', 'planta 19ª', 'planta 18ª',
       'planta -1 interior', 'planta 24ª exterior', '11 plantas',
       'planta 30ª', '12 plantas', '80 plantas', 'planta 40ª exterior',
       'planta -2 interior'], dtype=object)

En principio, tenemos 87 valores únicos así que no usaremos esta columna en nuestro análisis

In [53]:
todo_raw = todo_raw.drop(columns=['floor'])

### COLUMNA: garage

In [54]:
todo_raw[['garage']].head()

                                  garage
0  plaza de garaje incluida en el precio
1                                    NaN
2  plaza de garaje incluida en el precio
3                                    NaN
4  plaza de garaje incluida en el precio

In [55]:
print('Cantidad de valores únicos')
print(todo_raw['garage'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['garage'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['garage'].isna().mean()*100)

Cantidad de valores únicos
164

Cantidad de valores NaN
59189

Porcentaje de valores NaN sobre el total
59.189

In [56]:
todo_raw['garage'].unique()

array(['plaza de garaje incluida en el precio', nan,
       'plaza de garaje por 15.000 eur adicionales',
       'plaza de garaje por 12.500 eur adicionales',
       'plaza de garaje por 23.000 eur adicionales',
       'plaza de garaje por 1 eur adicionales',
       'plaza de garaje por 12.000 eur adicionales',
       'plaza de garaje por 13.000 eur adicionales',
       'plaza de garaje por 29.000 eur adicionales',
       'plaza de garaje por 40 eur adicionales',
       'plaza de garaje por 30.000 eur adicionales',
       'plaza de garaje por 28.000 eur adicionales',
       'plaza de garaje por 10.000 eur adicionales',
       'plaza de garaje por 70.000 eur adicionales',
       'plaza de garaje por 25.000 eur adicionales',
       'plaza de garaje por 50.000 eur adicionales',
       'plaza de garaje por 54.000 eur adicionales',
       'plaza de garaje por 26.000 eur adicionales',
       'plaza de garaje por 20.000 eur adicionales',
       'plaza de garaje por 40.000 eur adicionales',
       'plaza de garaje por 16.000 eur adicionales',
       'plaza de garaje por 18.000 eur adicionales',
       'plaza de garaje por 100 eur/mes adicionales',
       'plaza de garaje por 135 eur/mes adicionales',
       'plaza de garaje por 70 eur/mes adicionales',
       'plaza de garaje por 5.000 eur adicionales', 'garage',
       'plaza de garaje por 7.000 eur adicionales',
       'plaza de garaje por 82.000 eur adicionales',
       'plaza de garaje por 120.000 eur adicionales',
       'plaza de garaje por 6.000 eur adicionales',
       'plaza de garaje por 8.000 eur adicionales',
       'plaza de garaje por 17.300 eur adicionales',
       'plaza de garaje por 38.000 eur adicionales',
       'plaza de garaje por 9.000 eur adicionales',
       'plaza de garaje por 35.000 eur adicionales',
       'plaza de garaje por 15.700 eur adicionales',
       'plaza de garaje por 13.650 eur adicionales',
       'plaza de garaje por 24.000 eur adicionales',
       'plaza de garaje por 0 eur adicionales',
       'plaza de garaje por 17.000 eur adicionales',
       'plaza de garaje por 126.000 eur adicionales',
       'plaza de garaje por 14.000 eur adicionales',
       'plaza de garaje por 360 eur adicionales',
       'plaza de garaje por 4.000 eur adicionales',
       'plaza de garaje por 475.000 eur adicionales',
       'plaza de garaje por 50 eur adicionales',
       'plaza de garaje por 65.000 eur adicionales',
       'plaza de garaje por 60.000 eur adicionales',
       'plaza de garaje por 26.500 eur adicionales',
       'plaza de garaje por 22.000 eur adicionales',
       'plaza de garaje por 27.999 eur adicionales',
       'plaza de garaje por 48.000 eur adicionales',
       'plaza de garaje por 6.500 eur adicionales',
       'plaza de garaje por 80 eur adicionales',
       'plaza de garaje por 30 eur adicionales',
       'plaza de garaje por 21.000 eur adicionales',
       'plaza de garaje por 120 eur adicionales',
       'plaza de garaje por 2.450 eur adicionales',
       'plaza de garaje por 75.000 eur adicionales',
       'plaza de garaje por 45.000 eur adicionales',
       'plaza de garaje por 3.000 eur adicionales',
       'plaza de garaje por 16.500 eur adicionales',
       'plaza de garaje por 11.050 eur adicionales',
       'plaza de garaje por 14.700 eur adicionales',
       'plaza de garaje por 9.500 eur adicionales',
       'plaza de garaje por 138.000 eur adicionales',
       'plaza de garaje por 5.950 eur adicionales',
       'plaza de garaje por 111 eur adicionales',
       'plaza de garaje por 33.000 eur adicionales',
       'plaza de garaje por 24.451 eur adicionales',
       'plaza de garaje por 24.452 eur adicionales',
       'plaza de garaje por 400.000 eur adicionales',
       'plaza de garaje por 14.900 eur adicionales',
       'plaza de garaje por 19.900 eur adicionales',
       'plaza de garaje por 242.000 eur adicionales',
       'plaza de garaje por 205.000 eur adicionales',
       'plaza de garaje por 36.000 eur adicionales',
       'plaza de garaje por 360.000 eur adicionales',
       'plaza de garaje por 32.000 eur adicionales',
       'plaza de garaje por 27.100 eur adicionales',
       'plaza de garaje por 31.500 eur adicionales',
       'plaza de garaje por 19.000 eur adicionales',
       'plaza de garaje por 68.000 eur adicionales',
       'plaza de garaje por 90.000 eur adicionales',
       'plaza de garaje por 80.000 eur adicionales',
       'plaza de garaje por 23.500 eur adicionales',
       'plaza de garaje por 10.705 eur adicionales',
       'plaza de garaje por 10.100 eur adicionales',
       'plaza de garaje por 100 eur adicionales',
       'plaza de garaje por 72.000 eur adicionales',
       'plaza de garaje por 5.168 eur adicionales',
       'plaza de garaje por 43.000 eur adicionales',
       'plaza de garaje por 125.000 eur adicionales',
       'plaza de garaje por 56.000 eur adicionales',
       'plaza de garaje por 105.000 eur adicionales',
       'plaza de garaje por 71.000 eur adicionales',
       'plaza de garaje por 425.000 eur adicionales',
       'plaza de garaje por 130 eur/mes adicionales',
       'plaza de garaje por 50 eur/mes adicionales',
       'plaza de garaje por 60 eur/mes adicionales',
       'plaza de garaje por 900 eur/mes adicionales',
       'plaza de garaje por 150 eur/mes adicionales',
       'plaza de garaje por 125 eur/mes adicionales',
       'plaza de garaje por 90 eur/mes adicionales',
       'plaza de garaje por 105 eur/mes adicionales',
       'plaza de garaje por 80 eur/mes adicionales',
       'plaza de garaje por 65 eur/mes adicionales',
       'plaza de garaje por 75 eur/mes adicionales',
       'plaza de garaje por 110 eur/mes adicionales',
       'plaza de garaje por 46.600 eur adicionales',
       'plaza de garaje por 47.000 eur adicionales',
       'plaza de garaje por 99.000 eur adicionales',
       'plaza de garaje por 310.000 eur adicionales',
       'plaza de garaje por 31.000 eur adicionales',
       'plaza de garaje por 4.500 eur adicionales',
       'plaza de garaje por 14.500 eur adicionales',
       'plaza de garaje por 5.100 eur adicionales',
       'plaza de garaje por 109.000 eur adicionales',
       'plaza de garaje por 11.800 eur adicionales',
       'plaza de garaje por 13.700 eur adicionales',
       'plaza de garaje por 10.500 eur adicionales',
       'plaza de garaje por 11.500 eur adicionales',
       'plaza de garaje por 42.000 eur adicionales',
       'plaza de garaje por 23.127 eur adicionales',
       'plaza de garaje por 17.800 eur adicionales',
       'plaza de garaje por 16.200 eur adicionales',
       'plaza de garaje por 62.000 eur adicionales',
       'plaza de garaje por 98.000 eur adicionales',
       'plaza de garaje por 55.000 eur adicionales',
       'plaza de garaje por 51.000 eur adicionales',
       'plaza de garaje por 110 eur adicionales',
       'plaza de garaje por 110.000 eur adicionales',
       'plaza de garaje por 58.000 eur adicionales',
       'plaza de garaje por 85.000 eur adicionales',
       'plaza de garaje por 70 eur adicionales',
       'plaza de garaje por 200 eur/mes adicionales',
       'plaza de garaje por 500 eur/mes adicionales',
       'plaza de garaje por 250 eur/mes adicionales',
       'plaza de garaje por 180 eur/mes adicionales',
       'plaza de garaje por 15.900 eur adicionales',
       'plaza de garaje por 825.000 eur adicionales',
       'plaza de garaje por 17.500 eur adicionales',
       'plaza de garaje por 19 eur adicionales',
       'plaza de garaje por 20.500 eur adicionales',
       'plaza de garaje por 20.200 eur adicionales',
       'plaza de garaje por 100.000 eur adicionales',
       'plaza de garaje por 27.500 eur adicionales',
       'plaza de garaje por 22.975 eur adicionales',
       'plaza de garaje por 200 eur adicionales',
       'plaza de garaje por 65.500 eur adicionales',
       'plaza de garaje por 15.036 eur adicionales',
       'plaza de garaje por 9.200 eur adicionales',
       'plaza de garaje por 19.400 eur adicionales',
       'plaza de garaje por 30 eur/mes adicionales',
       'plaza de garaje por 11.000 eur adicionales',
       'plaza de garaje por 5.900 eur adicionales',
       'plaza de garaje por 8 eur adicionales',
       'plaza de garaje por 8.400 eur adicionales',
       'plaza de garaje por 7.300 eur adicionales',
       'plaza de garaje por 8.500 eur adicionales',
       'plaza de garaje por 5.800 eur adicionales',
       'plaza de garaje por 7.500 eur adicionales',
       'plaza de garaje por 45 eur/mes adicionales',
       'plaza de garaje por 39.000 eur adicionales'], dtype=object)

Tenemos demasiados valores nulos. Además los valores únicos que tenemos son difíciles de analizar. Eliminamos la columna

In [57]:
todo_raw = todo_raw.drop(columns=['garage'])

### COLUMNA: garden

In [58]:
todo_raw[['garden']].head()

  garden
0      1
1      0
2      1
3      1
4      1

In [59]:
print('Cantidad de valores únicos')
print(todo_raw['garden'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['garden'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['garden'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [60]:
todo_raw['garden'].unique()

array([1, 0, '1', '0', 'garden'], dtype=object)

In [61]:
todo_raw.loc[todo_raw['garden'] == 'garden', 'garden'] = 0
todo_raw.loc[todo_raw['garden'] == '0', 'garden'] = 0
todo_raw.loc[todo_raw['garden'] == '1', 'garden'] = 0

In [62]:
todo_raw['garden'] = todo_raw['garden'].fillna(0)
todo_raw['garden'] = todo_raw['garden'].astype(bool)

### COLUMNA: ground_size

In [63]:
todo_raw[['ground_size']].head()

  ground_size
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [64]:
print('Cantidad de valores únicos')
print(todo_raw['ground_size'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['ground_size'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['ground_size'].isna().mean()*100)

Cantidad de valores únicos
1

Cantidad de valores NaN
99817

Porcentaje de valores NaN sobre el total
99.81700000000001

Demasiados valores nulos, eliminaremos la columna

In [65]:
todo_raw = todo_raw.drop(columns=['ground_size'])

### COLUMNA: heating

In [66]:
todo_raw[['heating']].head()

  heating
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [67]:
print('Cantidad de valores únicos')
print(todo_raw['heating'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['heating'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['heating'].isna().mean()*100)

Cantidad de valores únicos
19

Cantidad de valores NaN
74286

Porcentaje de valores NaN sobre el total
74.286

Demasiados valores nulos, eliminaremos la columna

In [68]:
todo_raw = todo_raw.drop(columns=['heating'])

### COLUMNA: house_id

In [69]:
todo_raw[['house_id']].head()

   house_id
0  81717634
1  29588074
2  37453116
3  82568918
4  29135242

Esta columna simplemente nos da un id de la casa que aparece en el anuncio de Idealista. No es relevante para nuestro análisis así que la eliminaremos

In [70]:
todo_raw = todo_raw.drop(columns=['house_id'])

### COLUMNA: house_type

In [71]:
todo_raw[['house_type']].head()

                     house_type
0   Casa o chalet independiente
1                         Ático
2                Casa de pueblo
3                Casa de pueblo
4                          Piso

In [72]:
print('Cantidad de valores únicos')
print(todo_raw['house_type'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['house_type'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['house_type'].isna().mean()*100)

Cantidad de valores únicos
32

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [73]:
todo_raw['house_type'].unique()

array([' Casa o chalet independiente', 'Ático', ' Casa de pueblo', 'Piso',
       ' Casa rural', ' Chalet adosado', ' Casa o chalet', ' Caserón',
       ' Chalet pareado', 'Dúplex', 'Estudio', ' Finca rústica',
       ' Palacio', ' Torre', 'Casa rural', 'Alquiler de Piso',
       'Alquiler de Casa o chalet independiente', 'Alquiler de Dúplex',
       'Alquiler de Chalet adosado', 'Alquiler de Estudio',
       'Alquiler de Finca rústica', 'Alquiler de Casa o chalet',
       'Alquiler de Ático', 'Alquiler de Casa rural',
       'Alquiler de Chalet pareado', ' Castillo', ' Masía', ' Cortijo',
       'house_type', ' Casa terrera', 'Alquiler de Caserón',
       'Alquiler de Casa de pueblo'], dtype=object)

In [74]:
todo_raw.loc[todo_raw['house_type'] == 'house_type', 'house_type'] = 'indefinido'

In [75]:
todo_raw['house_type'] = todo_raw['house_type'].fillna('indefinido')
todo_raw['house_type'] = todo_raw['house_type'].astype(str)

### COLUMNA: kitchen

In [76]:
todo_raw[['kitchen']].head()

  kitchen
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [77]:
print('Cantidad de valores únicos')
print(todo_raw['kitchen'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['kitchen'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['kitchen'].isna().mean()*100)

Cantidad de valores únicos
3

Cantidad de valores NaN
97788

Porcentaje de valores NaN sobre el total
97.788

Demasiados nulos, eliminaremos la columna

In [78]:
todo_raw = todo_raw.drop(columns=['kitchen'])

### COLUMNA: lift

In [79]:
todo_raw[['lift']].head()

  lift
0  NaN
1  1.0
2  NaN
3  NaN
4  1.0

In [80]:
print('Cantidad de valores únicos')
print(todo_raw['lift'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['lift'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['lift'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
41035

Porcentaje de valores NaN sobre el total
41.035

In [81]:
todo_raw['lift'].unique()

array([nan, 1.0, 0.0, '0', '1', 'lift'], dtype=object)

Tomaremos que si no existe un valor para lift (ascensor) significa que el piso no dispone de ascensor (de lo contrario, la persona lo especificaría en el anuncio)

In [82]:
todo_raw.loc[todo_raw['lift'] == 'lift', 'lift'] = 0
todo_raw.loc[todo_raw['lift'] == '0', 'lift'] = 0
todo_raw.loc[todo_raw['lift'] == '1', 'lift'] = 1

In [83]:
todo_raw['lift'] = todo_raw['lift'].fillna(0)
todo_raw['lift'] = todo_raw['lift'].astype(bool)

### COLUMNA: loc_city

In [84]:
todo_raw[['loc_city']].head()

      loc_city
0  Urcabustaiz
1    Legutiano
2      Aramaio
3  Urcabustaiz
4  Urcabustaiz

In [85]:
print('Cantidad de valores únicos')
print(todo_raw['loc_city'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_city'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_city'].isna().mean()*100)

Cantidad de valores únicos
1139

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [86]:
todo_raw['loc_city'].unique()

array(['Urcabustaiz', 'Legutiano', 'Aramaio', ..., 'Molacillos',
       'Palacios del Pan', 'Moreruela de los Infanzones'], dtype=object)

In [87]:
todo_raw.loc[todo_raw['loc_city'] == 'loc_city', 'loc_city'] = 'indefinido'

In [88]:
todo_raw['loc_city'] = todo_raw['loc_city'].fillna('indefinido')
todo_raw['loc_city'] = todo_raw['loc_city'].astype(str)

### COLUMNA: loc_district

In [89]:
todo_raw[['loc_district']].head()

            loc_district
0             La iglesia
1  la Union Plazatxoa, 8
2     Calle Etxaguen s/n
3      CP 01449, 1449 CP
4   Calle Nueva Plaza, 9

In [90]:
print('Cantidad de valores únicos')
print(todo_raw['loc_district'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_district'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_district'].isna().mean()*100)

Cantidad de valores únicos
23068

Cantidad de valores NaN
13747

Porcentaje de valores NaN sobre el total
13.747000000000002

In [91]:
todo_raw.loc[todo_raw['loc_district'] == 'loc_distric', 'loc_district'] = 'indefinido'

In [92]:
todo_raw['loc_district'] = todo_raw['loc_district'].fillna('indefinido')
todo_raw['loc_district'] = todo_raw['loc_district'].astype(str)

### COLUMNA: loc_full

In [93]:
todo_raw[['loc_full']].head()

                                            loc_full
0            La iglesia , Urcabustaiz , Zuya, Álava
1   la Union Plazatxoa, 8 , Legutiano , Zuya, Álava
2        Calle Etxaguen s/n , Aramaio , Zuya, Álava
3     CP 01449, 1449 CP , Urcabustaiz , Zuya, Álava
4   Calle Nueva Plaza, 9 , Urcabustaiz , Zuya, Ál...

In [94]:
print('Cantidad de valores únicos')
print(todo_raw['loc_full'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_full'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_full'].isna().mean()*100)

Cantidad de valores únicos
49369

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [95]:
todo_raw.loc[todo_raw['loc_full'] == 'loc_full', 'loc_full'] = 'indefinido'

In [96]:
todo_raw['loc_full'] = todo_raw['loc_full'].fillna('indefinido')
todo_raw['loc_full'] = todo_raw['loc_full'].astype(str)

### COLUMNA: loc_neigh

In [97]:
todo_raw[['loc_neigh']].head()

  loc_neigh
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [98]:
print('Cantidad de valores únicos')
print(todo_raw['loc_neigh'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_neigh'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_neigh'].isna().mean()*100)

Cantidad de valores únicos
17061

Cantidad de valores NaN
56310

Porcentaje de valores NaN sobre el total
56.31

Demasiados valores nulos, eliminaremos la columna

In [99]:
todo_raw = todo_raw.drop(columns=['loc_neigh'])

### COLUMNA: loc_street

In [100]:
todo_raw[['loc_street']].head()

  loc_street
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [101]:
print('Cantidad de valores únicos')
print(todo_raw['loc_street'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_street'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_street'].isna().mean()*100)

Cantidad de valores únicos
9901

Cantidad de valores NaN
85686

Porcentaje de valores NaN sobre el total
85.68599999999999

Demasiados valores nulos. Eliminaremos la columna

In [102]:
todo_raw = todo_raw.drop(columns=['loc_street'])

### COLUMNA: loc_zone

In [103]:
todo_raw[['loc_zone']].head()

      loc_zone
0  Zuya, Álava
1  Zuya, Álava
2  Zuya, Álava
3  Zuya, Álava
4  Zuya, Álava

In [104]:
print('Cantidad de valores únicos')
print(todo_raw['loc_zone'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['loc_zone'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['loc_zone'].isna().mean()*100)

Cantidad de valores únicos
95

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [105]:
todo_raw.loc[todo_raw['loc_zone'] == 'loc_zone', 'loc_zone'] = 'indefinido'

In [106]:
todo_raw['loc_zone'] = todo_raw['loc_zone'].fillna('indefinido')
todo_raw['loc_zone'] = todo_raw['loc_zone'].astype(str)

### COLUMNA: m2_real

In [107]:
todo_raw[['m2_real']].head()

  m2_real
0    1000
1      86
2    3000
3      86
4      76

In [108]:
print('Cantidad de valores únicos')
print(todo_raw['m2_real'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['m2_real'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['m2_real'].isna().mean()*100)

Cantidad de valores únicos
4507

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [109]:
todo_raw['m2_real'].unique()

array([1000, 86, 3000, ..., '3910', '7460', '7180'], dtype=object)

In [110]:
todo_raw.loc[todo_raw['m2_real'] == 'm2_real', 'm2_real'] = 0

In [111]:
todo_raw['m2_real'] = todo_raw['m2_real'].fillna(0)
todo_raw['m2_real'] = todo_raw['m2_real'].astype(int)

### COLUMNA: m2_useful

In [112]:
todo_raw[['m2_useful']].head()

  m2_useful
0     172.0
1       NaN
2       NaN
3       NaN
4      74.0

In [113]:
print('Cantidad de valores únicos')
print(todo_raw['m2_useful'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['m2_useful'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['m2_useful'].isna().mean()*100)

Cantidad de valores únicos
1168

Cantidad de valores NaN
47156

Porcentaje de valores NaN sobre el total
47.156

In [114]:
todo_raw.loc[todo_raw['m2_useful'] == 'm2_useful', 'm2_useful'] = 0

In [115]:
todo_raw['m2_useful'] = todo_raw['m2_useful'].astype(float)

In [116]:
todo_raw['m2_useful'].mean()

140.02891529785785

Vemos que tenemos una gran cantidad de valores nulos. Sin embargo, la columna de m2_useful podría ser bastante representativa para nuestro análisis así que no vamos a eliminarla, sino que vamos a rellenar los valores nulos con la media de los valores numéricos que sí tenemos, para así no interferir en la media. (Aunque sí estaremos interfiriendo mucho en otras medidas como la varianza)

In [117]:
todo_raw['m2_useful'] = todo_raw['m2_useful'].fillna(todo_raw['m2_useful'].mean())

### COLUMNA: obtention_date

In [118]:
todo_raw[['obtention_date']].head()

  obtention_date
0     2019-03-29
1     2019-03-29
2     2019-03-29
3     2019-03-29
4     2019-03-29

Esta columna nos muestra la fecha en la que los datos fueron obtenidos pero no nos da información sobre las viviendas. La eliminamos.

In [119]:
todo_raw = todo_raw.drop(columns=['obtention_date'])

### COLUMNA: orientation

In [120]:
todo_raw[['orientation']].head()

               orientation
0  norte, sur, este, oeste
1                      NaN
2                      NaN
3                      NaN
4               sur, oeste

In [121]:
print('Cantidad de valores únicos')
print(todo_raw['orientation'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['orientation'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['orientation'].isna().mean()*100)

Cantidad de valores únicos
16

Cantidad de valores NaN
60585

Porcentaje de valores NaN sobre el total
60.585

In [122]:
todo_raw['orientation'].unique()

array(['norte, sur, este, oeste', nan, 'sur, oeste', 'sur', 'sur, este',
       'este', 'oeste', 'norte, sur, oeste', 'norte, este, oeste',
       'norte, sur, este', 'norte', 'este, oeste', 'norte, oeste',
       'norte, sur', 'sur, este, oeste', 'norte, este', 'orientation'],
      dtype=object)

Vemos que tenemos 16 valores únicos para la orientación. Decidimos no usar esta columna.

In [123]:
todo_raw = todo_raw.drop(columns=['orientation'])

### COLUMNA: price

In [124]:
todo_raw[['price']].head()

    price
0  310000
1  139000
2  480000
3  150000
4   90000

In [125]:
print('Cantidad de valores únicos')
print(todo_raw['price'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['price'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['price'].isna().mean()*100)

Cantidad de valores únicos
7045

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [126]:
todo_raw['price'].unique()

array([310000, 139000, 480000, ..., '129600', '198900', '51425'],
      dtype=object)

In [127]:
todo_raw.loc[todo_raw['price'] == 'price', 'price'] = 0

In [128]:
todo_raw['price'] = todo_raw['price'].fillna(0)
todo_raw['price'] = todo_raw['price'].astype(int)

### COLUMNA: reduced_mobility

In [129]:
todo_raw[['reduced_mobility']].head()

  reduced_mobility
0                0
1                1
2                0
3                0
4                0

In [130]:
print('Cantidad de valores únicos')
print(todo_raw['reduced_mobility'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['reduced_mobility'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['reduced_mobility'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [131]:
todo_raw['reduced_mobility'].unique()

array([0, 1, '0', '1', 'reduced_mobility'], dtype=object)

In [132]:
todo_raw.loc[todo_raw['reduced_mobility'] == 'reduced_mobility', 'reduced_mobility'] = 0
todo_raw.loc[todo_raw['reduced_mobility'] == '0', 'reduced_mobility'] = 0
todo_raw.loc[todo_raw['reduced_mobility'] == '1', 'reduced_mobility'] = 1

In [133]:
todo_raw['reduced_mobility'] = todo_raw['reduced_mobility'].fillna(0)
todo_raw['reduced_mobility'] = todo_raw['reduced_mobility'].astype(bool)

### COLUMNA: room_num

In [134]:
todo_raw[['room_num']].head()

  room_num
0        4
1        3
2        4
3        4
4        2

In [135]:
print('Cantidad de valores únicos')
print(todo_raw['room_num'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['room_num'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['room_num'].isna().mean()*100)

Cantidad de valores únicos
36

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [136]:
todo_raw['room_num'].unique()

array(['4', '3', '2', '7', '5', '1', '8', '13', 'sin habitación', '6',
       '9', '10', '15', '12', '30', '18', '35', 'room_num', '17', '14',
       '11', '16', '36', '84', '20', '22', '65', '24', '23', '32', '25',
       '34', '26', '56', '58', '73'], dtype=object)

In [137]:
todo_raw.loc[todo_raw['room_num'] == 'room_num', 'room_num'] = 0
todo_raw.loc[todo_raw['room_num'] == 'sin habitación', 'room_num'] = 0

In [138]:
todo_raw['room_num'] = todo_raw['room_num'].fillna(0)
todo_raw['room_num'] = todo_raw['room_num'].astype(int)

### COLUMNA: storage room

In [139]:
todo_raw[['storage_room']].head()

  storage_room
0            0
1            1
2            1
3            1
4            1

In [140]:
print('Cantidad de valores únicos')
print(todo_raw['storage_room'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['storage_room'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['storage_room'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [141]:
todo_raw['storage_room'].unique()

array([0, 1, '1', '0', 'storage_room'], dtype=object)

In [142]:
todo_raw.loc[todo_raw['storage_room'] == 'storage_room', 'storage_room'] = 0
todo_raw.loc[todo_raw['storage_room'] == '0', 'storage_room'] = 0
todo_raw.loc[todo_raw['storage_room'] == '1', 'storage_room'] = 1

In [143]:
todo_raw['storage_room'] = todo_raw['storage_room'].fillna(0)
todo_raw['storage_room'] = todo_raw['storage_room'].astype(bool)

### COLUMNA: swimming_pool

In [144]:
todo_raw[['swimming_pool']].head()

  swimming_pool
0             0
1             0
2             0
3             0
4             1

In [145]:
print('Cantidad de valores únicos')
print(todo_raw['swimming_pool'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['swimming_pool'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['swimming_pool'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [146]:
todo_raw['swimming_pool'].unique()

array([0, 1, '0', '1', 'swimming_pool'], dtype=object)

In [147]:
todo_raw.loc[todo_raw['swimming_pool'] == 'swimming_pool', 'swimming_pool'] = 0
todo_raw.loc[todo_raw['swimming_pool'] == '0', 'swimming_pool'] = 0
todo_raw.loc[todo_raw['swimming_pool'] == '1', 'swimming_pool'] = 1

In [148]:
todo_raw['swimming_pool'] = todo_raw['swimming_pool'].fillna(0)
todo_raw['swimming_pool'] = todo_raw['swimming_pool'].astype(bool)

### COLUMNA: terrace

In [149]:
todo_raw[['terrace']].head()

  terrace
0       1
1       0
2       1
3       1
4       1

In [150]:
print('Cantidad de valores únicos')
print(todo_raw['terrace'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['terrace'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['terrace'].isna().mean()*100)

Cantidad de valores únicos
5

Cantidad de valores NaN
0

Porcentaje de valores NaN sobre el total
0.0

In [151]:
todo_raw['terrace'].unique()

array([1, 0, '1', '0', 'terrace'], dtype=object)

In [152]:
todo_raw.loc[todo_raw['terrace'] == 'terrace', 'terrace'] = 0
todo_raw.loc[todo_raw['terrace'] == '0', 'terrace'] = 0
todo_raw.loc[todo_raw['terrace'] == '1', 'terrace'] = 1

In [153]:
todo_raw['terrace'] = todo_raw['terrace'].fillna(0)
todo_raw['terrace'] = todo_raw['terrace'].astype(bool)

### COLUMNA: unfurnished

In [154]:
todo_raw[['unfurnished']].head()

  unfurnished
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [155]:
print('Cantidad de valores únicos')
print(todo_raw['unfurnished'].nunique(), '\n')
print('Cantidad de valores NaN')
print(todo_raw['unfurnished'].isna().sum(), '\n')
print('Porcentaje de valores NaN sobre el total')
print(todo_raw['unfurnished'].isna().mean()*100)

Cantidad de valores únicos
3

Cantidad de valores NaN
99354

Porcentaje de valores NaN sobre el total
99.354

Demasiados valores nulos. Eliminamos la columna

In [156]:
todo_raw = todo_raw.drop(columns=['unfurnished'])

## Renombrar las columnas

Vamos a renombrar las columnas para que contengan nombres en castellano más fáciles de manipular

In [157]:
nuevas_columnas = {'ad_description' : 'descripcion',
                   'air_conditioner' : 'aire_acondicionado',
                   'balcony' : 'balcon',
                   'bath_num' : 'num_banios',
                   'built_in_wardrobe' : 'armario_empotrado',
                   'chimney' : 'chimenea',
                   'condition' : 'condicion',
                   'garden' : 'jardin',
                   'house_type' : 'tipo_vivienda',
                   'lift' : 'ascensor',
                   'loc_city' : 'ciudad',
                   'loc_district' : 'calle_num',
                   'loc_full' : 'direccion_com',
                   'loc_zone' : 'zona_y_provincia',
                   'm2_real' : 'm2_reales',
                   'm2_useful' : 'm2_utiles',
                   'price' : 'precio',
                   'reduced_mobility' : 'movilidad_reducida',
                   'room_num' : 'num_habitaciones',
                   'storage_room' : 'trastero',
                   'swimming_pool' : 'piscina',
                   'terrace' : 'terraza'
                   }

todo_raw = todo_raw.rename(columns=nuevas_columnas)

In [158]:
viviendas = todo_raw

In [159]:
#viviendas.to_csv('viviendas.csv',index=False)